*{
    margin: 0;
    padding: 0;
}


.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(146, 133, 133) !important;
}

h1{
    display: flex;
    justify-content: center;
}

.car{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-dark .carousel-control-prev-icon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(96%) saturate(5278%) hue-rotate(360deg) brightness(116%) contrast(116%);
    
}

.carousel-dark .carousel-control-next-icon{
    filter: brightness(0) saturate(100%) invert(10%) sepia(96%) saturate(5278%) hue-rotate(360deg) brightness(116%) contrast(116%);
    background-image: url(/Seminar2/img/scale.png);
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #4000ff;
}