
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
li{
    list-style: none;
    font-size: 40px;
}
.menu .menu__link:hover{
    color: red;
}
.menu .menu__link:focus{
    color: green;
}
.menu__list:first-child{
    text-decoration: underline;
    color: red;
}
.menu__list:last-child{
    font-weight: bold;
}
.menu__list:nth-child(3){
    background-color: orange;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    margin: 30px;
    width: 250px;
    padding: 24px;
    border: 1px solid #000;
    position: relative;
  }
  
  .product__img {
    background-color: forestgreen;
    height: 150px;
  }

  .product::before{
    padding: 8px;
    content: 'Sale';
    background-color: orange;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product::after{
    padding: 8px;
    content: 'New';
    background-color: red;
    color: white;
    position: absolute;
    top: 0;
    right: 0;

  }

  .icon{
    margin: 30px;
  }
  .icon{
    fill: black;
  }
.icon:hover{
    fill: purple;
}
.icon:active{
    fill: yellow;
}
.content{
    margin-top: 30px;
    margin-bottom: 50px;
}
.item {
    width: 150px;
    height: 86px;
    background-color: forestgreen;
    border: 1px solid #000;
    transition: transform 1s;
  }
  
  .item_1:hover {
  transform:  translate(50px, 0) ;
  }
  .item_2:hover{
    transform: scale(2);
  }
  .item_3:hover{
    transform: rotate(60deg);
  }

  .content__star {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .content__star {
    
    position: relative;
    width: 200px;
    height:200px;
    
}
.star_1{
    position: absolute;
    width: 150px;
    height: 62px;
    background-color: red;

}
.star_2{
  position: absolute;
  width: 150px;
  height: 62px;
  rotate: 45deg;
  background-color: red;
} 
.star_3{
  position: absolute;
  width: 150px;
  height: 62px;
  rotate: 90deg;
  background-color: red;
} 
.star_4{
  position: absolute;
  width: 150px;
  height: 62px;
  rotate: 135deg;
  background-color: red;
} 

.button {
    margin-top: 100px;
    margin-bottom: 200px;
    width: 150px;
    height: 50px;
    background-color: purple;
    color: white;
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    font-size: 18px;
    transition: all .3s;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }